<body>
  <header>
    <nav>
      <ul>
        <li><a href="">Trang chủ</a></li>
        <li><a href="">Thông tin</a></li>
        <li><a href="">Liên hệ</a></li>
      </ul>
      <ul class="right">
        <li><a routerLink="/login">Đăng nhập</a></li>
        <li><a routerLink="/register">Đăng ký</a></li>
        <li><a routerLink="/login">Đăng xuất</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Cây cảnh</h1>
    <p>Đây là trang web cây cảnh.</p>
  </main>
  <footer>
    <p>Bản quyền © 2021</p>
  </footer>
  <script src="script.js"></script>
</body>
